@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@import url("https://fonts.googleapis.com/css?family=Bungee+Inline");
/* line 5, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../scss/_general.scss */
body {
  background: #160f1e;
}

/* line 8, ../scss/_general.scss */
a {
  text-decoration: none;
}

/* line 2, ../scss/_button.scss */
.button {
  margin: auto;
  display: block;
  max-width: 400px;
  height: 45px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  padding-top: 20px;
  font-size: 1.5em;
}

/* line 13, ../scss/_button.scss */
.red {
  background: #f0082a;
  color: white;
}
/* line 16, ../scss/_button.scss */
.red:hover {
  background: #1d88f5;
}

/* line 1, ../scss/_menu.scss */
.menu-bg {
  background: url("../../img/bg/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;
}
/* line 10, ../scss/_menu.scss */
.menu-bg .button {
  margin-bottom: 40px;
}
/* line 14, ../scss/_menu.scss */
.menu-bg nav {
  margin-top: 200px;
}

/* line 18, ../scss/_menu.scss */
header {
  margin: auto;
  width: 600px;
}
/* line 22, ../scss/_menu.scss */
header .logo-header {
  width: 600px;
  height: 80px;
  margin-top: 20px;
}
