
.button {
	margin: auto;
	display: block;
	max-width: 400px;
	height: 45px;
	text-align: center;
	padding-top:20px;
	font-size: 1.5em; 
}

.red {
	background: $red;
		&:hover {
			background:$blue;
		}
}

.btn-game {
	@extend .red;
	display: inline-block;
  	margin: 50px 20px;
  	padding:20px 30px;
}