input {
	width: 200px;
  	height: 40px;
  	margin: 20px;
}

.user-form {
	padding: 50px 0;
   margin: auto;
  margin-top: 100px; 
  margin-bottom: 50px;
  text-align: center;
  background:rgba(0,0,0,0.7);
  width: 500px;
}

.btn-submit {
  width: 150px;
  font-family: 'Press Start 2P', cursive;
  border: none;
}

.booking-message {
	text-align: center;
}
