$blue:#1d88f5;
$red:#f0082a;
$bg-color: #160f1e;
body {
	background:$bg-color;
	color: white;
	font-family: 'Press Start 2P', cursive;
}

a {
	text-decoration: none;
	font-family: 'Press Start 2P', cursive;
	color: white;
}

