$blue:#1d88f5;
$red:#f0082a;
$bg-color: #160f1e;
body {
	background:$bg-color;
	color: white;
	font-family: 'Press Start 2P', cursive;
}

a {
	text-decoration: none;
	font-family: 'Press Start 2P', cursive;
	color: white;
}

.link-blue {
	display: block;
	color : $blue;
	margin-top: 10px;
}

.bg{
	background-size: cover;
	background-repeat:no-repeat;

	max-width: 1200px;
	margin: auto;
	min-height: 100vh;
}

.alert-form {
  font-family: arial;
  color: red;
  margin-bottom:20px;
}

.user-profil {
	background:rgba(0,0,0,0.5);
	max-width: 900px;
	margin: auto;
	p,label {
		margin: 20px;
	}
	h3 {
		text-align: center;
		margin: 50px;
	}
	img {
		width: 150px;
		height: 150px;
		margin-left: 20px;
	}
	label {
		font-size: 0.8em;
	}
}

.score-tab {
	width:700px;
	margin: auto;
	margin-top: 100px;
	padding-bottom: 100px;
	border-collapse: separate;
	img {
		width: 100px;
		height: 100px;
		margin: 10px 0;
	}
	tr {
		border:solid 2px red;
		background:rgba(0,0,0,0.8);
		color:$red;
	}
	th, td {
		font-size:1.3em;
		text-align: center;
		padding-top: 10px;
		margin-bottom: 10px;
	}
}

.secondary-title {
	color: $red;
	font-size: 2em;
	text-align: center;
	margin-top: 100px;
}