$blue:#1d88f5;
$red:#f0082a;
$bg-color: #160f1e;
body {
	background:$bg-color;
	color: white;
	font-family: 'Press Start 2P', cursive;
}

a {
	text-decoration: none;
	font-family: 'Press Start 2P', cursive;
	color: white;
}

.bg{
	background-size: cover;
	background-repeat:no-repeat;

	max-width: 1200px;
	margin: auto;
	min-height: 100vh;
}

