.menu-bg {
	background: url('../../img/bg/bg1.jpg');
	.button {
		margin-bottom: 40px;
	}

	#main-nav {
		margin-top: 200px;
	}
}
	#main-header {
	margin: auto;
	 width: 600px;

	.logo-header {	  
		width: 600px;
	  	height: 80px;
	  	margin-top: 20px;	
	}
}

