//module BG

.bg{
	background-size: cover;
	background-repeat:no-repeat;

	max-width: 1200px;
	margin: auto;
	min-height: 100vh;
}
.admin-bg {
	background: black;
	color:green;
}
.score-bg {
	background: url('../../img/bg/space.gif');
}
.stage-1 {
	background: url('../../img/bg/bg2.jpg');
}
.stage-2 {
  background: url('../../img/bg/bg3.jpg');
}
.stage-3 {
  background: url('../../img/bg/bg4.jpg');
}

//module form

.alert-form {
  font-family: arial;
  color: red;
  margin-bottom:20px;
}
.confirm-form {
  color:green;
  font-size:0.9em;
  text-align: center;
  background: rgba(0,0,0,0.8);
}
.user-form {
	padding: 50px 0;
   margin: auto;
  margin-top: 100px; 
  padding-bottom: 50px;
  text-align: center;
  background:rgba(0,0,0,0.7);
  max-width: 500px;
}
.btn-submit {
  width: 150px;
  font-family: 'Press Start 2P', cursive;
  border: none;
}
.booking-message {
	text-align: center;
}
.block-form {
	border:solid 5px $red;
}
//module titre

.secondary-title {
	color: $red;
	text-align: center;
	margin-top: 100px;
}
.logo-navbar {
	width:280px;
	height: 40px;
}
// modules liens
.link-blue {
	display: block;
	color : $blue;
	margin-top: 10px;
	padding-bottom: 10px;
}
.nav-arrow-bar {
	padding-bottom: 20px;
}
.nav-arrow {
	font-size:2.5em;
  	color:green;
}
//module bouton

.button {
	margin: auto;
	display: block;
	max-width: 400px;
	height: 45px;
	text-align: center;
	padding-top:20px;
	font-size: 1.5em; 
}
.red {
	background: $red;
		&:hover {
			background:$blue;
		}
}
.btn-game {
	@extend .red;
	display: inline-block;
  	margin: 50px 20px;
  	padding:20px 30px;
}
.delete-btn {
	color: red;
	font-size: 2em;
}
.player-definition {
	img {
		width: 200px;
		height: 200px;
	}
	figcaption {
		background: $red;
		text-align: center;
		padding: 10px;
	}
	cursor: pointer;
	border:10px solid $red;
	border-radius:5px;
	margin:0 40px;
	margin-top: 20px;

	&:hover{
		border:10px solid $blue;
	}	
}
#menu {
	display: none;
}
.inform-text {
	font-size: 1.7em;
	text-align: center;
	margin: 100px 10px;
}
.connexion-block {
	margin: auto;
	margin-top: 20px;
	text-align: center;
	max-width: 350px;
	background:rgba(0,0,0,0.5);
	p {
		font-size: 0.8em;
	}
}