.logo-navbar {
	width:280px;
	height: 40px;
}

.secondary-header {
	background: #160f1e;
	display: flex;
	justify-content: space-between;

	ul {
		display: flex;
		margin-top: 17px;
	}
	a {
		margin-right: 30px;

		&:hover {
			color:$blue;
		}
	}
}