
#synth {
  display: flex;
  justify-content: center;
  width: 490px;
  margin: auto;
  margin-top: 300px;
  position: relative;
  background: linear-gradient(black 30%, rgba(38, 102, 209, 0.7));
  border-radius: 30px;
  padding: 20px 45px;
}

#free-mode {
  #synth {
    margin-top: 150px;
  }
}

.key {
	cursor: pointer;
  p{
    position:absolute;
  }
}
.white {
  width: 70px;
  height: 300px;
  background: white;
  border: solid black 1px;
  p {
    bottom: 30px;
    padding-left:25px; 
    color:black;

  }
}
.black {
  background: black;
  position: absolute;
  width: 45px;
  height: 170px;
  p {
    bottom: 10px;
    padding-left:15px; 
  }
}
#do-d {
  left: 93px;
}
#re-d {
  left: 163px;
}
#fa-d {
  left: 304px;
}
#sol-d {
  left: 374px;
}

#la-d {
  left: 443px;
}

#fight-scene {
	display: flex;
	justify-content: space-between;
	margin:30px;

	.vs {
		color: red;
		font-size: 1.9em;
		margin-top: 100px;
	}
}

.block-player {
	display: flex;

	img {
		width:150px;
		height: 150px;
	}
}
.block-health {
    padding-top: 50px;
    margin:0 20px;
}

#player {
  p {
    text-align: right;
  }
}

.health-bar {
	background:black;
	width: 300px;
	height: 50px;
}

.health-progress {
  background:green;
  width: 100%;
  height: 50px;
}

#game-ending {
  margin: auto;
  margin-top:200px;
  width:600px;
  background: rgba(0,0,0,0.5);
  border-radius:20px; 
  text-align:center;
  h2 {
    padding:20px;
    font-size: 2em;
  }
}

#confirm {
  margin-top: 50px;
  text-align: center;
}